<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    과제 : <span id = "project"></span>
</body>
</html>

<script>
    const p = document.querySelector('#project')
    fetch('http://dtgqz5l2d6wuw.cloudfront.net/coding_test_1.csv.zip')
        .then((response) => response.json())
        .catch((data) => price.innerHTML = data.data.BTC.opening_price);
</script>